.footer {
  background: #2a2c4c;
  color: #fff;
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
}
.footer .icon {
  flex-direction: column;
  display: inline-block;
}
.icon {
  color: white;
  margin-top: 5%;
  font-size: 25px;
  margin-right: 60%;
  display: flex;
}
.fa-envelope-o {
  color: white;
  font-size: 25px;
  margin-top: 5px;
  margin-right: 60%;
}

#contact h1 {
  color: #f1dd31;
}

.footer-navbar ul {
  margin-top: 10px;
  line-height: 40px;
}
a{
  color: #fff;
}
.footer-navbar h3 {
  color: #f1dd31;
  margin-top: 40px;

}

#contact img {
  height: 100px;
  width: 100px;
}
.social-media-icons h3{
  color: #f1dd31;
  margin-top: 40px;
}


@media(max-width:958px){
  .footer {
    background: #2a2c4c;
    color: white;
    display: flex;
    font-size: 10px;
    margin-top: 10%;
  }

  .icon {
    color: white;
    margin-top: 5%;
    font-size: 20px;
    margin-right: 60%;
  }


}
